@charset "utf-8";


/*768px ~ 1023px*/
@media all and (min-width:768px) and (max-width:1023px){
	body{min-width:auto;}
	.inner{width:auto;}
	#wrap{
	font-size:13px;
	}
	.m_br{display:block; margin-bottom:10px;}
	.logo{
	background-size:contain;
	width:300px;		
	}  
}
/*768px ~ 1023px*/






/*480px~768px*/
@media all and (min-width:480px) and (max-width:768px){
	body{min-width:auto;}
	#wrap{
	font-size:11px;
	}
	#container{padding:25px;}
	#main{padding:20px;}
	.m_br{display:block; margin-bottom:10px;}
	.agreeInput label{font-size:14px;}
	.agreeInput input{
		width:20px;
		height:20px;
	}
	pre{
		font-size:1.1em;
	}
	
	#main .preDiv:last-child{
		margin-bottom:30px;
	}
	.logo{
		background-size:contain;
		width:250px;
	}
}
/*480px~768px*/






/*~479px*/
@media all and (max-width:479px){
	body{min-width:auto;}
	#wrap{
	font-size:10px;
	}
	#container{padding:18px;}
	#main{padding:18px;}
	.title h3{
		margin:0 !important;
	}
	#main .preDiv{margin:25px 0;}
	.m_br{display:block; margin-bottom:8px;}
	

	
	
	.agreeInput label{font-size:10px; font-weight:bold;}
	.agreeInput input{
		width:15px;
		height:15px;
		margin:0;
		margin-right:10px;
	}
	pre{
		font-size:1.1em;
	}
	
	#main .preDiv:last-child{
		margin-bottom:30px;
	}
	.logo{
		background-size:contain;
		width:250px;
	}
}
/*~479px*/
